body {
  background-color: green;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50px;
  text-align: center;
}

.head {
  font-weight: bold;
  font-size: 100px;
  color: white
}
