body {
  background-color: green;
  
}

p {
  font-family: "Fredoka One";
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.head {
  font-weight: bold;
  font-size: 140px;
  color: white;
}

.title {
  font-size: 50px;
  color: white;
}

.content {
  font-size: 40px;
  color: white;
}
