body {
  background-color: #827773;
}

p {
  font-family: "Fredoka One";
  text-align: center;
  margin-top: 30vh;
  color: white;
}

.head {
  font-weight: bold;
  font-size: 20vw;
}

.title {
  font-size: 10vw;
  margin-top: 5px;
}

.content {
  font-size: 8vw;
  margin-top: 3px;
}
