body {
  background-color: #827773;
}

p {
  font-family: "Fredoka One";
  text-align: center;
  margin-top: 40vh;
}

.head {
  font-weight: bold;
  font-size: 140px;
  color: white;
}

.title {
  font-size: 50px;
  color: white;
}

.content {
  font-size: 40px;
  color: white;
}
