body {
  background-color: green;
}

p {
  font-family: "Fredoka One";
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.head {
  font-weight: bold;
  font-size: 140px;
  color: white;
}

.title {
  font-size: 50px;
  color: white;
}

.content {
  font-size: 40px;
  color: white;
}
